{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":27,"column":0},"action":"insert","lines":["# Entorno virtual","env/","venv/",".env/",".venv/","","# Caché de Python","__pycache__/","*.py[cod]","*$py.class","","# Archivos de configuración de Cloud9 y otros IDEs",".c9/",".idea/",".vscode/","","# Archivos de logs y compilación","*.log","build/","dist/","*.egg-info/","","# Archivos temporales de sistema","*.swp","*.swo",".DS_Store","Thumbs.db",""],"id":13}]]},"ace":{"folds":[],"scrolltop":229,"scrollleft":0,"selection":{"start":{"row":27,"column":0},"end":{"row":27,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":15,"state":"start","mode":"ace/mode/ini"}},"timestamp":1741706493480,"hash":"93802500d2d3fa2f7dad2ae1df9bd922c6cbebd9"}