# Entorno virtual
env/
venv/
.env/
.venv/

# Caché de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de configuración de Cloud9 y otros IDEs
.c9/
.idea/
.vscode/

# Archivos de logs y compilación
*.log
build/
dist/
*.egg-info/

# Archivos temporales de sistema
*.swp
*.swo
.DS_Store
Thumbs.db
