# Excluir carpetas generadas
__pycache__/
*.py[cod]

# Excluir entornos virtuales
env/
venv/
ENV/

# Excluir archivos de Cloud9
.c9/

# Otros archivos de log o temporales
*.log
tmp/
*.tmp

# Configuración específica de Zappa
.zappa/
zappa_settings.json

# Archivos de credenciales (¡Nunca subas credenciales!)
.aws/
